.about-me {
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: column;
}

.about-me__title {
  font-size: 1.5rem;
  color: #0d2a3c;
  display: flex;
  align-items: center;
  margin: 0;
}

.about-me__icon {
  fill: #0d2a3c;
  height: 2rem;
  margin-right: 10px;
}

.about-me__description {
  display: flex;
  margin-top: 10px;
}

.about-me__img {
  height: 350px;
  width: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.about-me__strong {
  color: #054166;
}
