.about-me {
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: column;
}

.about-me__title {
  font-size: 1.5rem;
  color: #0d2a3c;
  display: flex;
  align-items: center;
  margin: 0;
}

.about-me__icon {
  fill: #0d2a3c;
  height: 2rem;
  margin-right: 10px;
}

.about-me__description {
  display: flex;
  margin-top: 10px;
}

.about-me__img {
  height: 350px;
  width: auto;
  padding-right: 40px;
  padding-left: 50px;
  transition: transform 1s;
}

.about-me__img:hover{
  transform: scale(1.1);
}

.about-me__strong {
  color: #054166;
}

.about-me__buttom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-me__down-icon {
  fill: white;
  height: 20px;
  margin-right: 10px;
}

.about-me__buttom {
  display: flex;
  align-items: center;
  background-color: #054166;
  border-radius: 20px;
  padding: 10px;
  color: white;
  text-decoration: none;
  box-shadow: 0.2px 0.2px 5px grey;
  transition: transform 1s, background-color 1s;
}

.about-me__buttom:hover{
  transform:scale(1.1);
  background-color: #488fbb;
}
