.about-me {
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: column;
}

.about-me__title {
  font-size: 1.5rem;
  color: #0d2a3c;
  display: flex;
  align-items: center;
}

.about-me__icon {
  fill: #0d2a3c;
  height: 2rem;
  margin-right: 10px;
}
