body {
  font-family: "Rubik", sans-serif;

  background-color: white;
  margin: 0;
  padding: 0;
  z-index: 1;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.credit__midu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.credit__strong-2 {
  color: grey;
}

.credit__link--active {
  color: #488fbb;
}
