.floating-btns {
  margin: 2rem;
  width: auto;
  position: fixed;
  top: 38%;

  right: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  z-index: 2;
}

.floating-btns__icon {
  fill: black;
  padding: 1.2rem;
  border-radius: 1rem;
  height: 4rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.floating-btns__link {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.floating-btns__link:nth-child(1) .floating-btns__icon {
  fill: white;
  background-color: #0a66c2;
  transition: fill 0.5s, background-color 0.5s, transform 0.5s;
}

.floating-btns__link:nth-child(1) .floating-btns__icon:hover {
  fill: #0a66c2;
  background-color: white;
  transform: scale(1.1);
  transition: fill 0.5s, background-color 0.5s, transform 0.5s;
}

.floating-btns__link:nth-child(2) .floating-btns__icon {
  fill: white;
  background-color: black;
  transition: fill 0.5s, background-color 0.5s, transform 0.5s;
}

.floating-btns__link:nth-child(2) .floating-btns__icon:hover {
  fill: black;
  background-color: white;
  transform: scale(1.1);
}

.floating-btns__link:nth-child(3) .floating-btns__icon {
  fill: white;
  background-color: #cf3b37;
  transition: fill 0.5s, background-color 0.5s, transform 0.5s;
}

.floating-btns__link:nth-child(3) .floating-btns__icon:hover {
  fill: #cf3b37;
  background-color: white;
  transform: scale(1.1);
}

.floating-btns__link:nth-child(4) .floating-btns__icon {
  background-color: white;
  position: fixed;
  border-radius: 100%;
  border: 1px solid black;
  height: 4em;
  padding: 2rem;
  bottom: 3.2rem;
  animation: move-arrow;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes move-arrow {
  0%,
  100% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }
}
