footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  margin: 30rem 0 0 0;
}

.footer__top {
  background-color: #124f88;

  /* margin: 4rem 0 0 0; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.footer__wave {
  position: absolute;
  z-index: -1;
  bottom: 22rem;
}

.footer__item {
  list-style: none;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #f2f2f2;
  text-decoration: none;
  transition: text-decoration 1s;

}

.footer__link:hover {
  text-decoration: underline;
}


.footer__icon {
  width: 3.2rem;
  fill: #f2f2f2;
}

.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
}

.footer__figure {
  display: flex;
  align-items: center;
}

.footer__figure-link {
  display: flex;

  gap: 0.4rem;
  text-decoration: none;
  color: #f2f2f2;
}


.footer__figure-icon {
  width: 4rem;
  fill: #f2f2f2;
}

.footer__social-media {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
}

.footer__copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #124f88;
}

.footer__copyright-text {
  color: black;
  font-weight: 500;
}
