.main {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;

  display: flex;
  justify-content: space-between;

}

.main__title {
  font-size: 3rem;
  color: #0d2a3c;
  margin-bottom: 0;
}

.main__subtitle {
  margin-top: 0;
  color: #054166;
  font-size: 1.2rem;
}
.main__paragraph {
  font-size: 1.5rem;
  line-height: 1.25em;
  
}
.main__figure {
  display: flex;
  align-items: center;
}
.main__img {
  height: 10em;
  width: auto;
  box-shadow: 0.2px 0.2px 15px grey;

  animation: main-img-animation 10s infinite;
}

@keyframes main-img-animation {
  0%,
  100% {
    border-color: #488fbb;
    border-style: solid;
    border-radius: 100%;
    transform: scale(1);
  }
  50% {
    border-color: #054166;
    border-style: solid;
    border-radius: 100%;
    transform: scale(1.05);
  }
  70% {
    border-color: #0d2a3c;
    border-style: solid;
    border-radius: 100%;
    transform: scale(1);
  }
}

.main__highlight {
  color: #488fbb;
}

.main__nav {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  
}

.main__svg {
  padding-right: 5px;
  fill: white;
  height: 20px;
}

.main__button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #054166;
  color: white;
  padding: 10px;
  font-size: 1rem;
  margin-right: 5%;
  width: 20%px;
  border-radius: 20px;
  box-shadow: 0.2px 0.2px 5px grey;

  transition: transform 0.8s, background-color 0.5s;
}

.main__button:hover {
  transform: scale(1.08);
  background-color: #488fbb;
}
.main__button:active {
  transform: scale(0.9);
}
