.proyects {
  position: relative;
  padding: 0 17.6rem;
  margin: 28rem 0 19.9rem 0;
}

.proyects__wave {
  position: absolute;
  left: 0;
  bottom: -20rem;
  z-index: -1;
}

.proyects__header {
  margin: 0 0 4rem 0;

  display: flex;
  /* justify-content: center; */
  gap: 1.6rem;
}

.proyects__title {
  font-size: 3.2rem;
}

.proyects__icon {
  width: 4rem;
  fill: black;
}

.proyects__card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  /* flex-grow: 1; */
  padding: 2rem;
  /* background-color: #b0bec5; */
}

.proyects__figure {
  /* width: 30rem; */
}

.proyects__image {
  /* display: flex; */
  width: 36rem;
  object-fit: cover;
}

.proyects__proyect-description {
  margin: 2.4rem 0 4rem 0;
}

.proyects__techs-list {
  margin: 0 0 4rem 0;

  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1.6rem;
}

.proyects__tech {
  padding: 0.4rem;
  border-radius: 0.8rem;
  background-color: white;
  display: flex;
  align-items: center;
  list-style: none;
}

.proyects__tech-icon {
  width: 4rem;
  height: 4rem;
}

.proyects__buttons-list {
  list-style: none;

  padding: 0;
  display: flex;
  gap: 50%;
}

.proyects__link {
  display: flex;
  padding: 1rem;
  border-radius: 1.6rem;
  border: 1px solid black;
  background-color: #867d7d;
  gap: 0.4rem;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: transform 0.5s;
}

.proyects__link:hover {
  transform: scale(1.04);
}

.proyects__button-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: white;
}
