.proyects {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 18%;
  margin-right: 18%;
}

.proyects__figure {
  display: flex;

  align-items: center;
  margin: 0;
}
.proyects__title {
  font-size: 1.5rem;
  color: #0d2a3c;
}

.proyects__icon {
  height: 2em;
  margin-right: 10px;
  fill: #0d2a3c;
}
.proyects__cards {
  margin-top: 25px;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: 0;
  background-color: #f1f5f9;
  box-shadow: 0.2px 0.2px 5px grey;
}

.proyects__card-1 {
  margin: 0;
  display: flex;
  align-items: center ;

}

.proyects__img {
  border-radius: 10px;
  margin-right: 5%;
    border-style: solid;
  border-color: #f1f5f9;
  box-shadow: 0.1px 0.1px 2px;

  height: 300px;
  width: 50%;
  transition: transform 1s;
}

.proyects__img:hover {
  transform: scale(1.1);
}


.proyects__subtitle {
  font-size: 1.5rem;
  color: #054166;
}

.proyects__technologies {
  margin: 0;
  display: flex;
}

.proyects__figure-2 {
  display: flex;
  align-items: center;
  padding: 0;
}

.proyects__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px;
  background-color: #dae2eb;
  border-radius: 10px;
  font-weight: 300;
}

.proyects__logo {
  height: 25px;
  margin-right: 4px;
}

.proyects__buttons {
  margin-top: 40px;
}
.proyects__buttons-nav {
  display: flex;
  align-items: center;
  width: 100%;
}
.proyects__button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-right:40%;
  border-radius: 10px;
  background-color: #7c8185;
  margin-bottom: 10px;
  box-shadow: 0.2px 0.2px 2px grey;
  

  transition: background-color 1s, transform 1s;
}

.proyects__button:hover {
  background-color: #acacac;

  transform: scale(1.1);
}

.proyects__logo-2 {
  margin-right: 4px;
  height: 25px;
  fill: white;
}
