body {
  font-family: "Rubik", sans-serif;
  background-color: #dae8e8;
  margin: 0px;
}

.imgHeader {
  height: 70px;
  width: 70px;
}
.navBar {
  display: flex;
}
.navIcons svg {
  fill: #dae8e8;
}
a {
  text-decoration: none;
}
p b {
  color: #e35c40;
}
header a {
  text-decoration: none;
  color: #dae8e8;
}

button a {
  text-decoration: none;
  color: #000000;
}
button a svg {
  margin-left: 10px;
}

button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
div img {
  height: 30px;
  width: 30px;
  padding: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #054166;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 3px 3px 5px;
}

main {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 50px;
}
.buttonCV {
  border-radius: 10px;
  border-color: hsl(340, 78%, 53%);
  padding: 10px;
  background-color: #d3416b;
  box-shadow: 5px 5px 10px;
}
.buttonCV a {
  color: #ebf3f3;
}
.buttonCV svg {
  fill: #dae8e8;
}
a:hover {
  color: aqua;
  transition: 0.8s;
}
svg:hover {
  fill: aqua;
  transition: 0.8s;
}
.imgGradiente {
  height: 200px;
  width: auto;
  border-radius: 100%;
  /*   background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  box-shadow: 5px 5px 10px;
}

.principalSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.principalLetters {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.principalLetters h1 {
  font-size: 70px;
  margin: 0px;
}

.principalLetters h3 {
  font-size: 25px;
}
.dFront {
  margin-top: 0px;
  margin-bottom: 25px;
  font-style: italic;
  color: grey;
}
.firstP {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 23px;
  padding-right: 10px;
}
.CVIcons {
  display: flex;
  flex-direction: column;
}
.onlyIcons {
  margin-top: 15px;
}
.onlyIcons svg {
  display: flex;
  justify-content: space-between;
  display: inline;
  border-radius: 10%;
  padding-left: 40px;
}
